<h1>Details</h1>

<hr>
<div *ngIf="event">
  <div>
    <label for="">EventID:</label>
    <span>{{event.EventID}}</span>
  </div>
  <div>
    <label for="">EventName:</label>
    <span>{{event.EventName}}</span>
  </div>
  <div>
    <label for="">EventDate:</label>
    <span>{{event.EventDate | date: 'fullDate'}}</span>
  </div>
  <div>
    <label for="">EventTime:</label>
    <span>{{event.EventTime}}</span>
  </div>
  <div>
    <label for="">EventLocation:</label>
    <span>{{event.EventLocation}}</span>
  </div>
</div>

<button mat-button color="accent">Edit</button>
<button mat-button color="primary" routerLink="/events">Back to List</button>
