<h1>Create an Event.</h1>
<hr>

<form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="eventForm">
  <div>
    <div>
      <mat-form-field>
        <input matInput placeholder="EventName" formControlName="EventName" type="EventName" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="EventDate" formControlName="EventDate" type="EventDate" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="EventLocation" formControlName="EventLocation" type="EventLocation" required/>
      </mat-form-field>
    </div>
  </div>
  <button mat-raised-button class="nav-btn" color="primary" type="submit">Create Event</button>
</form>
<a mat-button routerLink="/events">Back to List</a>


