<mat-toolbar color="primary">
  <button mat-button id="title-btn" routerLink="/"><img src="assets/minilogo.png" alt="mini logo"></button>
  <button mat-button routerLink="/feedback">Feedback</button>
  <button mat-button *ngIf="isLoggedIn" routerLink="/events">Events</button>
  <button mat-button *ngIf="isLoggedIn" routerLink="/connections">Connections</button>
  <span class="example-fill-remaining-space"></span>
  <button mat-raised-button class="nav-btn" routerLink="/register"
    *ngIf="!isLoggedIn">Register</button>
  <button mat-raised-button class="nav-btn" routerLink="/login"
    *ngIf="!isLoggedIn">Login</button>
  <form (ngSubmit)="onLogoutClicked()">
    <button mat-raised-button class="nav-btn"
      *ngIf="isLoggedIn" type="submit">Logout</button>
  </form>
</mat-toolbar>
