<img src="assets/cclogo.png" alt="Connection Companion" class="mainlogo">
<div class="info">
  <h3>Now more than ever it is apparent that it is not necessarily what you know but who you know.  
    Up to 90 percent of the jobs available are not posted, and around 90 percent of applicants are only looking 
    at that 10% that are posted.  So how can you use this knowledge to your advantage and find these “hidden” jobs? 
    The answer is quite simple: Networking.  </h3>
  <h3>Connection Companion is your handy tool for Networking events.  Record event information such as date, time and 
    location.  Take notes on who you connected with at each event so you don’t forget everything by the time you get home.  
    With the help of Connection Companion you’ll be on your way to building a deep and diverse professional network in no time!</h3>
  <h3>As with most things, Connection Companion is not perfect.  Be sure to check back frequently to see what new features have 
    been added!  Feedback is always appreciated as well.</h3>
</div>
